.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.buttons {
  width: 5rem;
  height: 1.5rem;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
